.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  /* background-color: black; */
  border: 2px solid cyan;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:cyan;
}

.App-link {
  color: cyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    border: 3px solid rgb(26, 255, 0);
    background-color: rgba(0, 255, 255, 0.27);
  }
  to {
    transform: rotate(360deg);
    border: 2px solid cyan;
    background-color:rgba(26, 255, 0, 0.197) ;
  }
}
